*{
    /* background: linear-gradient( red, black); */
    background-color: black;
    color: green;
    /* color: white; */
    
}
.Math{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}